.sidebar-item {
  @apply flex gap-x-2 items-center py-2.5 px-5 rounded-lg duration-200 relative;
  &::after {
    @apply absolute top-0 bottom-0 -right-4 w-[1px] block duration-200 bg-primary;
    content: "";
    opacity: 0;
  }
  &:hover {
    @apply bg-primary;
    &::after {
      opacity: 1;
    }
  }
  &.active {
    @apply bg-primary;
    &::after {
      opacity: 1;
    }
  }
}
