@tailwind base;
@tailwind components;
@tailwind utilities;
$primary: #f62682;

@layer base {
  body {
    @apply bg-slate-900 font-body text-white;
  }
}

@layer components {
  .page-container {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    @media screen and(max-width:620px) {
      padding: 0 20px;
    }
  }
  .section-title {
    @apply capitalize text-white mb-6 text-3xl font-bold hover:text-primary duration-300;
    &-primary {
      @apply capitalize  mb-6 text-3xl font-bold text-primary;
    }
  }
  .page-container-fluid {
    max-width: 1440px;
    margin: 0 auto;
  }
  .movie-list .swiper-slide {
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
  .banner--flex-style {
    @apply top-0 left-0 items-center h-full w-full px-8 absolute flex-row max-h-full ;
  }
  .navbar {
    transition: 0.3s linear !important;
  }
}

@import "./assets/scss/loading";

@import "./assets/scss/pagination";

@import "./assets/scss/sidebar";

@import "./assets/scss/fb";
